# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
source/test
CMakeLists.txt
.idea/misc.xml
.idea/modules.xml
.idea/Movie.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/Movie.cbp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/Movie.dir/build.make
cmake-build-debug/CMakeFiles/Movie.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Movie.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Movie.dir/depend.internal
cmake-build-debug/CMakeFiles/Movie.dir/depend.make
cmake-build-debug/CMakeFiles/Movie.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Movie.dir/flags.make
cmake-build-debug/CMakeFiles/Movie.dir/link.txt
cmake-build-debug/CMakeFiles/Movie.dir/progress.make
cmake-build-debug/CMakeFiles/Progress/1
cmake-build-debug/CMakeFiles/Progress/2
cmake-build-debug/CMakeFiles/Progress/4
cmake-build-debug/CMakeFiles/Progress/5
cmake-build-debug/CMakeFiles/Progress/count.txt
